/home/luisantolin/Downloads/Sigef Público
/home/luisantolin/Downloads/Sigef Brasil
/.rmt
/data/tiffs/sentinel2_series
/.gitignore
#/data/tiffs/sentinel_exports_gdf
/data/completed
/notebooks/logs
/notebooks/mlruns
/home/luisantolin/code/agri_remote_classification/data/kmls
/home/luisantolin/code/agri_remote_classification/notebooks/best_model.h5